<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Mon profil
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Mon profil</li>
        </ol>
    </section>

    <section class="content">
        <form #formProfil="ngForm">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Nom de l'entreprise :</label>
                                <input type="text" (keyup)="onChangeInput($event)" class="form-control" name="nom_entreprise"
                                    [(ngModel)]="profil.nom_entreprise">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email :</label>
                                <input type="text" (keyup)="onChangeInput($event)" class="form-control" name="email" [(ngModel)]="profil.email">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Nom & Prénom :</label>
                                <input type="text" (keyup)="onChangeInput($event)" class="form-control" name="nom" [(ngModel)]="profil.nom">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Site web :</label>
                                <input type="text" (keyup)="onChangeInput($event)" class="form-control" name="site_entreprise"
                                    [(ngModel)]="profil.site_entreprise">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Tél. :</label>
                                <input type="text" (keyup)="onChangeInput($event)" class="form-control" name="tel" [(ngModel)]="profil.tel">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Emplacement :</label>
                                <input type="text" (keyup)="onChangeInput($event)" class="form-control" name="emplacement_entreprise"
                                    [(ngModel)]="profil.emplacement_entreprise">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col-sm-6 -->
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Description générale de la société :</label>
                                <textarea rows="5" (keyup)="onChangeInput($event)" class="form-control select2" name="desc_entreprise"
                                    [(ngModel)]="profil.desc_entreprise"></textarea>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col-sm-6 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12">
                            <button [disabled]="!etatChange"
                                class="btn pull-right btn-success btn-flat" (click)="modifierProfil()">Sauvegarder</button>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </form>
    </section>
</div>
<!-- /.content-wrapper -->