<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Plateforme de recrutement
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li>Plateforme de recrutement</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Recruter un stagiaire</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Choisir le condidat :</label>
              <select class="form-control select2" style="width: 100%;">
                <option selected="selected">Thomas</option>
                <option>Robisnon</option>
                <option>Robisnon</option>
                <option>Robisnon</option>
                <option>Robisnon</option>
              </select>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <label>Choisir le service :</label>
              <select class="form-control select2" style="width: 100%;">
                <option selected="selected">Abonnement par mois</option>
                <option>Robisnon</option>
                <option>Robisnon</option>
                <option>Robisnon</option>
                <option>Robisnon</option>
              </select>
            </div>
            <!-- /.form-group -->
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Salaire proposé :</label>
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                  </div>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col-sm-4 -->
              <div class="col-sm-8">
                
              </div>
              <!-- /.col-sm-8 -->
            </div>
            <!-- /.row -->
            
            
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Description générale de la société :</label>
              <textarea rows="5" class="form-control select2"></textarea>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <label>Description détaillé du poste :</label>
              <textarea rows="5" class="form-control select2"></textarea>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <label>Description du profile demandé :</label>
              <textarea rows="8" class="form-control select2"></textarea>
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-12">
            <input type="button" value="Sauvegarder" class="btn pull-right btn-success btn-flat">
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
        the plugin.
      </div>
    </div>
    <!-- /.box -->


  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->