<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Guide de choix
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Guide de choix</li>
    </ol>
  </section>
  <section class="content">
    <section class="connectedSortable">

    </section>


    <div class="row">
      <div class="col-sm-3 connectedSortable">
        <div class="box">
          <div class="box-body">
            <div class="form-group">
              <label>Technologie</label>
              <select class="form-control select2" style="width: 100%;">
                <option selected="selected">Alabama</option>
                <option>Alaska</option>
                <option>California</option>
                <option>Delaware</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Washington</option>
              </select>
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.box-body no-padding -->
        </div>
        <!-- /.box -->

      </div>
      <!-- /.col-sm-3 -->
    </div>
    <!-- /.row -->


  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">


            <div class="box-tools">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <table class="table table-hover">
              <tr>
                <th>Nom & Prénom</th>
                <th>Profil</th>
                <th>Année d'expérience</th>
                <th>Technologie</th>
                <th style="width: 107px">Action</th>
              </tr>
              <tr *ngFor="let item of [].constructor(10); let i = index">
                <td>Antoine Joly</td>
                <td>Développeur web</td>
                <td>8 ans</td>
                <td>Angular 2+</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">Action</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Éditer</a></li>
                      <li><a href="#">Désactiver</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Supprimer</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->