<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard - test
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Info boxes -->
    <h2 class="page-header">Recrutements</h2>

    <div class="row">
      <div class="col-md-4">
        <div class="box box-widget widget-user">
          <div class="widget-user-header bg-gray">
            <h3 class="widget-user-username">Antoine Matis</h3>
            <h5 class="widget-user-desc">Développeur Angular</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/dist/img/user1-128x128.jpg" alt="User Avatar">
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">Etat</h5>
                  <span class="description-text desc-etat">... en train de passer les tests</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">Note</h5>
                  <span class="description-text desc-etat">15/20</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
      <!-- /.col -->
      <div class="col-md-4">
        <div class="box box-widget widget-user">
          <div class="widget-user-header bg-orange">
            <h3 class="widget-user-username">Nora Doe</h3>
            <h5 class="widget-user-desc">Développeur React</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/dist/img/user4-128x128.jpg" alt="User Avatar">
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">Etat</h5>
                  <span class="description-text desc-etat">... En période de stage</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">Période</h5>
                  <span class="description-text desc-etat">27/90 jours</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
      <!-- /.col -->
      <div class="col-md-4">
        <div class="box box-widget widget-user">
          <div class="widget-user-header bg-green">
            <h3 class="widget-user-username">John Philippe</h3>
            <h5 class="widget-user-desc">Développeur Full-Stack</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/dist/img/user6-128x128.jpg" alt="User Avatar">
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">Etat</h5>
                  <span class="description-text desc-etat">Recruté</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">Période</h5>
                  <span class="description-text desc-etat">1 an</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
      <!-- /.col -->
      <div class="col-md-4">
        <div class="box box-widget widget-user">
          <div class="widget-user-header bg-red">
            <h3 class="widget-user-username">George Luc</h3>
            <h5 class="widget-user-desc">Développeur VueJS</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="assets/dist/img/user8-128x128.jpg" alt="User Avatar">
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">Etat</h5>
                  <span class="description-text desc-etat">Non Recruté</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">Cause</h5>
                  <span class="description-text desc-etat">Manque de compétances</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
      <!-- /.col -->
    </div>
    <h2 class="page-header">Vue globale</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-desktop"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Offres ce mois</span>
            <span class="info-box-number">150</span>
            <a href="">Plus d'informations</a>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="fa fa-users"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Condidatures envoyées</span>
            <span class="info-box-number">1785</span>
            <a href="">Plus d'informations</a>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="fa fa-star"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Meilleurs profiles</span>
            <a href="">Plus d'informations</a>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Offres les plus attractives</span>
            <a href="">Plus d'informations</a>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <span class="info-box-icon bg-maroon"><i class="fa fa-map-marker"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Villes les plus attractives</span>
            <a href="">Plus d'informations</a>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <span class="info-box-icon bg-teal"><i class="fa fa-rocket"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Techno les plus attractives</span>
            <a href="">Plus d'informations</a>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->