/* You can add global styles to this file, and also import other style files */

.infos-input {
    margin-top: 7px;
}

.wrapper {
    overflow: hidden;
}
.dropdown-menu>li.bg-submenu>a {
    color: #fff;
}
.dropdown-menu>li.bg-submenu>a:hover{
    color: #333;
}