<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Condidatures reçus
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Condidatures reçus</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    
                    <div class="col-sm-12">
                        <table class="table table-hover">
                            <tr>
                                <th>Nom & Prénom</th>
                                <th>Profil</th>
                                <th>Année d'expérience</th>
                                <th>Technologie</th>
                                <th style="width: 107px">Action</th>
                            </tr>
                            <tr *ngFor="let item of [].constructor(10); let i = index">
                                <td>Antoine Joly</td>
                                <td>Développeur web</td>
                                <td>8 ans</td>
                                <td>Angular 2+</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Action</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Voir son profil</a></li>
                                            <li><a href="#">Voir son CV</a></li>
                                            <li class="divider"></li>
                                            <li class="bg-green bg-submenu"><a href="#">Recruter</a></li>
                                            <li class="bg-yellow bg-submenu"><a href="#">Ignorer</a></li>
                                            <li class="bg-red bg-submenu"><a href="#">Bloquer</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.col-sm-8 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->